Hi ppl, I have created this notebook, you can verify or do your answers.\
You can connect with me on LinkedIn: https://www.linkedin.com/in/akshit12mittal \
I have used gpt and claude in most of them and scored 10/10 in GA1...finally;)

##Q1

1. Open VS Code.
2. Click on terminal and select new.
3. run command code -s in terminal.

##Q2

1. pip install httpie


2. In the terminal, type the following command:
"uv run --with httpie -- https https://httpbin.org/get email=xxfxxxxxxx@ds.study.iitm.ac.in"\


3.
{
  "args": {
    "email": "xxxxxxxx@ds.study.iitm.ac.in"
  },
  "headers": {
    "Accept": "application/json, */*",
    "Host": "httpbin.org",
    "User-Agent": "HTTPie/3.2.1"
  },
  "origin": "YOUR_IP_ADDRESS",
  "url": "https://httpbin.org/get?email=xxxxxxxxx@ds.study.iitm.ac.in"
}

##Q3
Run this is directory:\
npx prettier@3.4.2 --write README.md

##Q4
>=SUM(ARRAY_CONSTRAIN(SEQUENCE(100, 100, 3, 1), 1, 10))

ans: 75

## Q5
>=SUM(TAKE(SORTBY({14,15,14,13,13,2,8,15,5,2,12,12,9,10,9,6}, {10,9,13,2,11,8,16,14,7,15,5,4,6,1,3,12}), 1, 12))

Ans: 120

## Q6
Go to inspect and hover over the paragraph:\
(My hidden Input: ud7ywxjhqq)

##Q7

In [ ]:
from datetime import date, timedelta

# Define the date range
start_date = date(1981, 2, 22)
end_date = date(2012, 7, 14)

# Find the first Wednesday on or after the start date
first_wednesday = start_date + timedelta((2 - start_date.weekday() + 7) % 7)

# Find the last Wednesday on or before the end date
last_wednesday = end_date - timedelta((end_date.weekday() - 2 + 7) % 7)

# Calculate the number of days between the first and last Wednesday, inclusive
days_between = (last_wednesday - first_wednesday).days

# Count the number of Wednesdays
number_of_wednesdays = days_between // 7 + 1
first_wednesday, last_wednesday, number_of_wednesdays
print(number_of_wednesdays)

1638

## Q8

In [ ]:
import pandas as pd

df= pd.read_csv("extract.csv")
df

                                  email answer
0  23f2004636@ds.study.IIT Madras.ac.in  a1b43

##Q9

In [ ]:
import json

# Input JSON data
data = [
    {"name": "Alice", "age": 59},
    {"name": "Bob", "age": 25},
    {"name": "Charlie", "age": 64},
    {"name": "David", "age": 62},
    {"name": "Emma", "age": 3},
    {"name": "Frank", "age": 55},
    {"name": "Grace", "age": 33},
    {"name": "Henry", "age": 30},
    {"name": "Ivy", "age": 51},
    {"name": "Jack", "age": 91},
    {"name": "Karen", "age": 16},
    {"name": "Liam", "age": 69},
    {"name": "Mary", "age": 1},
    {"name": "Nora", "age": 41},
    {"name": "Oscar", "age": 0},
    {"name": "Paul", "age": 90}
]

# Sort the data by 'age' and 'name' in case of a tie
sorted_data = sorted(data, key=lambda x: (x['age'], x['name']))

# Output the sorted JSON
print(json.dumps(sorted_data))

[{"name": "Oscar", "age": 0}, {"name": "Mary", "age": 1}, {"name": "Emma", "age": 3}, {"name": "Karen", "age": 16}, {"name": "Bob", "age": 25}, {"name": "Henry", "age": 30}, {"name": "Grace", "age": 33}, {"name": "Nora", "age": 41}, {"name": "Ivy", "age": 51}, {"name": "Frank", "age": 55}, {"name": "Alice", "age": 59}, {"name": "David", "age": 62}, {"name": "Charlie", "age": 64}, {"name": "Liam", "age": 69}, {"name": "Paul", "age": 90}, {"name": "Jack", "age": 91}]

#Q10
#Note for u ppl:)
"You can replace the data with your own data if it's not same and then paste the output at https://tools-in-data-science.pages.dev/jsonhash"

In [ ]:
import json

# Given data as a string (each key-value pair separated by newline)
data = """
9=dVbs1Fglj
3qPJlbo=z
HJGV0zayva=U79W7zqb2
tYLosXckk=wcGK3V
5yzrYRs=hQIBcL1VZ9
V6lkhDlqXQ=PI
Jo=2XKVsw
5J9TCFtkIq=jF7ZPdhilW
8mym=def6br
o8l=Qyj3T
I2G=U2auGx
ykaJQ=P
Y8NBM3=6yA
7MrAIZ99T=Sd
nT4J9XLPEg=Y
6fl=kRvUhzXFnm
eE49Z=xUyj
B=s
c7K1=RWLuS4X
wSAEUyP5=rfXTesHOI
JReoJzlAr=OOSq0pX
inEU=jtOSQcaK
F7lfAWrWx=rtYDeLgtB
zUZP4Afm72=Hb7Qo
qXSHsJ5=5BR5Dw
SMo=yswGWAyI
Cud=lKp8GI
hLaGRpEg=62KWPwO1G
nciSrWUnu=IH
9Qg=xFQr8oPe
Z07l7OB=Ieef57L
c92=g809iHJVD
l=tP
Wx=8
l3hMj1sMx=f3p7xzBPC
g=9
Ke=X8AxlLQY
NQ7sQ=Cb3Z
SyKxB=SEOhwoX
2jqZbB=aLE6yApm8
UVs=VmIWd
Gk1m9=Q8cV
w7xy=5T4I8yO
9t=r
YRhT1u=tvAHg1h2
ffb=Rcv6oXTww
9aC=k
pbsB58g7=T
kP8JDrr=UMdrEiqH
1AV=cc9Vr
q2=P9
p2=ZHz53pp
FMDvFC=NDWnIPRSbB
y1OlsLk=g6t
ujqcRk=yPWaw
XmMTT1xs=e419AEir
Uv=SQA5
ynNUb=vvU
V=RJHaR
7wGr=TcCTKfsq
fatn=ubw3eex
e8=3w33dbB3SA
BB=rrQwuw2s
J0qv=I
a880CTmWH=AtMe
QUdep0=rHO
5p6=Y
X8FfwFQF=g4wDF
Inbp1kLL5I=iZ4z
Vg=PJf6Vaqg
lrJWD=1CsH2BQWTO
2FYegP2O=fI7W
Cd2qaTe=j0iN3OH9e4
wb4m=ABInsWtoD
oxMMQ=6k
RKEnq039=x
mYj53n=MFH
J87=AMnTxhwg
bgxwrM=8tHdvMlPva
cwW=XDMDPFos6
BnU5=HB
ENsf=Vcu9
lKSG=Mm
Vuu37LxZ7=x
Q93TSc=LPy0Q
oM5=m0nF
QgqB8u2Dj=UlQB0Gxo
Tp=PIIU
R=nwMtfwdF1i
LjrSLBLYB=YD
8dlzuE=jKL9wqN
uXY=pe9h
Tin=I8Is14CrWB
7yxOKMI=8ctVEmyL
DFgI3TEt13=1jTSmIqjU
QYXTtp=XIFEE
Zv04QfZthV=Ierma
Mi4jWm9e=YxpAiF
q2qgp=jNmuqwCG
4jG4Ui=CPq0aDol
"""

# Split the data into key-value pairs
data_dict = {}
for line in data.strip().split("\n"):
    key, value = line.split("=")
    data_dict[key] = value

# Convert the dictionary to JSON format
json_data = json.dumps(data_dict, indent=4)

# Output the JSON data
print(json_data)

{
    "9": "dVbs1Fglj",
    "3qPJlbo": "z",
    "HJGV0zayva": "U79W7zqb2",
    "tYLosXckk": "wcGK3V",
    "5yzrYRs": "hQIBcL1VZ9",
    "V6lkhDlqXQ": "PI",
    "Jo": "2XKVsw",
    "5J9TCFtkIq": "jF7ZPdhilW",
    "8mym": "def6br",
    "o8l": "Qyj3T",
    "I2G": "U2auGx",
    "ykaJQ": "P",
    "Y8NBM3": "6yA",
    "7MrAIZ99T": "Sd",
    "nT4J9XLPEg": "Y",
    "6fl": "kRvUhzXFnm",
    "eE49Z": "xUyj",
    "B": "s",
    "c7K1": "RWLuS4X",
    "wSAEUyP5": "rfXTesHOI",
    "JReoJzlAr": "OOSq0pX",
    "inEU": "jtOSQcaK",
    "F7lfAWrWx": "rtYDeLgtB",
    "zUZP4Afm72": "Hb7Qo",
    "qXSHsJ5": "5BR5Dw",
    "SMo": "yswGWAyI",
    "Cud": "lKp8GI",
    "hLaGRpEg": "62KWPwO1G",
    "nciSrWUnu": "IH",
    "9Qg": "xFQr8oPe",
    "Z07l7OB": "Ieef57L",
    "c92": "g809iHJVD",
    "l": "tP",
    "Wx": "8",
    "l3hMj1sMx": "f3p7xzBPC",
    "g": "9",
    "Ke": "X8AxlLQY",
    "NQ7sQ": "Cb3Z",
    "SyKxB": "SEOhwoX",
    "2jqZbB": "aLE6yApm8",
    "UVs": "VmIWd",
    "Gk1m9": "Q8cV",
    "w7xy": "5T4I8yO",
    "9t": "r",
    "YRhT1u": "tvAHg1h2",
    "ffb": "Rcv6oXTww",
    "9aC": "k",
    "pbsB58g7": "T",
    "kP8JDrr": "UMdrEiqH",
    "1AV": "cc9Vr",
    "q2": "P9",
    "p2": "ZHz53pp",
    "FMDvFC": "NDWnIPRSbB",
    "y1OlsLk": "g6t",
    "ujqcRk": "yPWaw",
    "XmMTT1xs": "e419AEir",
    "Uv": "SQA5",
    "ynNUb": "vvU",
    "V": "RJHaR",
    "7wGr": "TcCTKfsq",
    "fatn": "ubw3eex",
    "e8": "3w33dbB3SA",
    "BB": "rrQwuw2s",
    "J0qv": "I",
    "a880CTmWH": "AtMe",
    "QUdep0": "rHO",
    "5p6": "Y",
    "X8FfwFQF": "g4wDF",
    "Inbp1kLL5I": "iZ4z",
    "Vg": "PJf6Vaqg",
    "lrJWD": "1CsH2BQWTO",
    "2FYegP2O": "fI7W",
    "Cd2qaTe": "j0iN3OH9e4",
    "wb4m": "ABInsWtoD",
    "oxMMQ": "6k",
    "RKEnq039": "x",
    "mYj53n": "MFH",
    "J87": "AMnTxhwg",
    "bgxwrM": "8tHdvMlPva",
    "cwW": "XDMDPFos6",
    "BnU5": "HB",
    "ENsf": "Vcu9",
    "lKSG": "Mm",
    "Vuu37LxZ7": "x",
    "Q93TSc": "LPy0Q",
    "oM5": "m0nF",
    "QgqB8u2Dj": "UlQB0Gxo",
    "Tp": "PIIU",
    "R": "nwMtfwdF1i",
    "LjrSLBLYB": "YD",
    "8dlzuE": "jKL9wqN",
    "uXY": "pe9h",
    "Tin": "I8Is14CrWB",
    "7yxOKMI": "8ctVEmyL",
    "DFgI3TEt13": "1jTSmIqjU",
    "QYXTtp": "XIFEE",
    "Zv04QfZthV": "Ierma",
    "Mi4jWm9e": "YxpAiF",
    "q2qgp": "jNmuqwCG",
    "4jG4Ui": "CPq0aDol"
}

##Q11
#Note:)
1. Select the complete code by using "ctrl+A"
2. Uncomment the code by using "ctrl+/"
3. Copy the whole code by using "ctrl+C".
4. Go to the TDS assignment.
5. Right click and select Inspect.
6. Paste the code in console.
7. Click enter

In [ ]:
# // Select all <div> elements with the class 'foo' and 'data-value' attribute
# let divs = document.querySelectorAll('div.foo[data-value]');

# // Initialize a variable to store the sum
# let sum = 0;

# // Loop through the selected <div> elements
# divs.forEach(div => {
#     // Get the 'data-value' attribute and parse it as a float
#     let value = parseFloat(div.getAttribute('data-value'));

#     // Add the value to the sum
#     sum += value;
# });

# // Output the sum of data-value attributes
# console.log("Sum of data-value attributes:", sum);

## Q12

In [ ]:
import pandas as pd

# Load data1.csv with CP-1252 encoding
data1 = pd.read_csv('data1.csv', encoding='cp1252')
# Load data2.csv with UTF-8 encoding
data2 = pd.read_csv('data2.csv', encoding='utf-8')
# Load data3.txt with UTF-16 encoding, tab-separated
data3 = pd.read_csv('data3.txt', encoding='utf-16', sep='\t')

# Concatenate all data
all_data = pd.concat([data1, data2, data3])

# Filter rows where symbol is '˜', 'š', or '“'
filtered_data = all_data[all_data['symbol'].isin(['˜', 'š', '“'])]

# Sum the values
total_sum = filtered_data['value'].sum()

print(f"The sum of all values associated with the symbols is: {total_sum}")

The sum of all values associated with the symbols is: 40087

## Q13
# Note:)

1. Go to GitHub and log in.
2. Click the "New" button (+ icon) in the top-right corner and select "New repository."
3. Name your repository and set it to public.
4. Click "Create repository."
5. Add a New File:
In the newly created repository, click on "Add file" and select "Create new file."
6. Name the file email.json.
7. Enter File Content:
{
  "email": "xxxxxxxxxx.study.iitm.ac.in"
}
8. Scroll down and enter a commit message, e.g., "Add email.json with email value."
9. Click "Commit new file."
10. Get the Raw URL: Click on email.json in your repository, Click on "Raw" to view the raw file, Copy the URL from the browser's address bar.

In [ ]:
# https://raw.githubusercontent.com/[GITHUB ID]/[REPO NAME]/main/email.json

## Q14

In [ ]:
# 1. Open Linux and locate to dir.
# 2. sed -i 's/IITM/IIT Madras/gI' *
# 3. cat * | sha256sum

##Q 15

In [ ]:
# 1. Open Linux and locate to dir.
# 2. find . -type f -size +7532c -newermt "2020-11-20" -exec ls -l {} \; | awk '{sum += $5} END {print sum}'

##Q16

In [ ]:
# # Q16
# 1. Open Linux and locate to dir.
# 2. find . -type f -exec mv {} . \;
# 3. for f in *; do
#   new=$(echo "$f" | tr '0123456789' '1234567890')
#   mv "$f" "$new"
# done
# 4. grep . * | LC_ALL=C sort | sha256sum

##Q17

In [ ]:
# Q17
# diff -y --suppress-common-lines a.txt b.txt | wc -l

##Q18

In [ ]:
# # # Q18
# SELECT SUM(units * price)
# FROM tickets
# WHERE LOWER(TRIM(type)) = 'gold';